<h1>Todo</h1>
<div class="container">
  <header>
    <input
      type="text"
      id="box"
      placeholder="What needs to be done?"
      autofocus
      [(ngModel)]="todoTitle"
      (keyup.enter)="addTodo()"
    />
  </header>
  <hr />
  <section>
    <ul *ngFor="let todo of todosFilter()">
      <li>
        <input
          type="checkbox"
          class="checkbox"
          [(ngModel)]="todo.isCompleted"
        />
        <label
          *ngIf="!todo.editing; else editingTodo"
          (dblclick)="editItem(todo)"
          >{{ todo.title }}</label
        >
        <ng-template #editingTodo>
          <input
            type="text"
            class="editbox"
            [(ngModel)]="todo.title"
            (blur)="doneEdit(todo)"
            (keyup.enter)="doneEdit(todo)"
            autofocus
          />
        </ng-template>
        <button type="button" class="deletebtn" (click)="deleteItem(todo.id)">
          ❌
        </button>
      </li>
      <hr />
    </ul>
  </section>
  <footer>
    <span>{{ remaining() }} items left</span>
    <button
      type="button"
      class="btn allbtn"
      [ngClass]="{ active: path === 'all' }"
    >
      <a [routerLink]="['/all']">All</a>
    </button>
    <button
      type="button"
      class="btn activebtn"
      [ngClass]="{ active: path === 'active' }"
    >
      <a [routerLink]="['/active']">Active</a>
    </button>
    >
    <button
      type="button"
      class="btn completedbtn"
      [ngClass]="{ active: path === 'completed' }"
    >
      <a [routerLink]="['/completed']">completed</a>
    </button>

    <button type="button" class="btn clearbtn" (click)="clearCompleted()">
      clear completed
    </button>
  </footer>
</div>
